#!/usr/bin/env python

# If you are going to execute this in google colab, uncomment the next line
# !pip install commlib-py==0.11.4

import math
import time
import random
from typing import Optional, Dict
from pydantic import BaseModel
from collections import deque
import statistics
from concurrent.futures import ThreadPoolExecutor, wait
from threading import Event
import signal
from dataclasses import dataclass
from enum import Enum
from threading import Thread


{# {% if entity.broker.__class__.__name__ == 'MQTTBroker' %} #}
{# from commlib.transports.mqtt import ConnectionParameters #}
{# {% elif entity.broker.__class__.__name__ == 'AMQPBroker' %} #}
{# from commlib.transports.amqp import ConnectionParameters #}
{# {% elif entity.broker.__class__.__name__ == 'RedisBroker' %} #}
{# from commlib.transports.redis import ConnectionParameters #}
{# {% endif %} #}
from rich import print, console, pretty
from commlib.msg import PubSubMessage
from commlib.utils import Rate
from commlib.node import Node

pretty.install()
console = console.Console()

terminate_event = Event()

# Value generation machinery for virtual entities
@dataclass
class NoiseUniform:
    min: float
    max: float

@dataclass
class NoiseGaussian:
    mu: float
    sigma: float

@dataclass
class NoiseZero:
    pass

class NoiseType(Enum):
    Zero = 0
    Uniform = 1
    Gaussian = 2

class Noise:
    def __init__(self, _type, properties):
        self.type = _type
        self.properties = properties

    def generate(self):
        if self.type == NoiseType.Zero:
            return 0
        elif self.type == NoiseType.Uniform:
            return random.uniform(self.properties.min, self.properties.max)
        elif self.type == NoiseType.Gaussian:
            return random.gauss(self.properties.mu, self.properties.sigma)
        return 0

@dataclass
class ValueGeneratorProperties:
    @dataclass
    class Constant:
        value: float

    @dataclass
    class Linear:
        start: float
        step: float  # per second

    @dataclass
    class Saw:
        min: float
        max: float
        step: float
        _internal_start: Optional[float] = 0.0

    @dataclass
    class Gaussian:
        value: float
        max_value: float
        sigma: float  # this is time (seconds)
        _internal_start: Optional[float] = 0.0
        
    @dataclass
    class Replay:
        values: list
        times: int
        
    @dataclass
    class Sinus:
        dc: float
        amplitude: float
        step: float

class ValueGeneratorType(Enum):
    Constant = 1
    Linear = 2
    Gaussian = 3
    Step = 5
    Saw = 6
    Sinus = 7
    Logarithmic = 8
    Exponential = 9
    Replay = 10

class ValueComponent:
    def __init__(self, _type, name, properties, noise):
        self.type = _type
        self.name = name
        self.properties = properties
        self.noise = noise

class ValueGenerator:
    def __init__(self, topic, hz, components, commlib_node):
        self.topic = topic
        self.hz = hz
        self.components = components
        self.commlib_node = commlib_node
        self.publisher = self.commlib_node.create_publisher(
            topic=topic,
            msg_type=commlib_node.msg_type
        )
        self.running = False
        self._thread = None

    def start(self, minutes=None):
        self.running = True
        start = time.time()
        value = None
        replay_counter = 0
        replay_iter = 0
        
        for c in self.components:
            if c.type in (ValueGeneratorType.Gaussian, ValueGeneratorType.Saw):
                c.properties._internal_start = start
                
        while self.running and not terminate_event.is_set():
            msg = self.commlib_node.msg_type()
            for c in self.components:
                if c.type == ValueGeneratorType.Constant:
                    value = c.properties.value + c.noise.generate()
                elif c.type == ValueGeneratorType.Linear:
                    value = c.properties.start + (time.time() - start) * c.properties.step
                    value += c.noise.generate()
                elif c.type == ValueGeneratorType.Sinus:
                    value = c.properties.dc + c.properties.amplitude * math.sin((time.time() - start) * c.properties.step)
                    value += c.noise.generate()
                elif c.type == ValueGeneratorType.Saw:
                    value = c.properties.min + \
                        (time.time() - c.properties._internal_start) * \
                        c.properties.step
                    value += c.noise.generate()
                    if value >= c.properties.max:
                        c.properties._internal_start = time.time()
                elif c.type == ValueGeneratorType.Gaussian:
                    if time.time() - c.properties._internal_start > 8 * c.properties.sigma:
                        c.properties._internal_start = time.time()
                    value = c.properties.value
                    _norm_exp = -np.power(
                        time.time() - c.properties._internal_start - 4 *
                        c.properties.sigma, 2.) / (2 * np.power(c.properties.sigma, 2.))
                    value += np.exp(_norm_exp) * (c.properties.max_value - c.properties.value)
                    value += c.noise.generate()
                elif c.type == ValueGeneratorType.Replay:
                    values = c.properties.values
                    times = c.properties.times
                    if replay_iter == times:
                        setattr(msg, c.name, values[-1])
                        continue
                    value = values[replay_counter]
                    replay_counter += 1
                    replay_counter = replay_counter % (len(values))
                    if replay_counter == 0:
                        replay_iter += 1
                setattr(msg, c.name, value)

            self.publisher.publish(msg)
            time.sleep(1.0 / self.hz)
            if minutes is not None:
                if time.time() - start > minutes * 60.0:
                    break

def signal_handler(sig, frame):
    print("Interrupt received. Attempting to gracefully terminate workers.")
    terminate_event.set()


class Time(BaseModel):
    hour: int = 0
    minute: int = 0
    second: int = 0
    time_str: str = ''

    def to_int(self):
        val = self.second + int(self.minute<<8) + int(self.hour<<16)
        return val


class ClockMsg(PubSubMessage):
    time: Time = Time()


class Attribute:
    def __init__(self, name, value=None):
        self.name = name
        self.value = value


{% for entity in entities %}
class {{ entity.camel_name }}Msg(PubSubMessage):
    {% for a in entity.attributes %}
    {% if a.type == "str" %}
        {{ a.name }}: {{ a.type }} = '{{ a.value }}'
    {% elif a.type == "time" %}
        {{ a.name }}: Optional[Time] = Time()
    {% else %}
        {{ a.name }}: {{ a.type }} = {{ a.value }}
    {% endif %}
    {% endfor %}

class {{ entity.name|capitalize }}:
    def __init__(self):
        {% for attribute in entity.attributes %}
        self.{{ attribute.name }} = None
        {% endfor %}

    {% if entity.virtual %}
    def generate_values(self):
        {% for attribute in entity.attributes %}
        {% if attribute.value_generator %}
        self.{{ attribute.name }} = {{ attribute.value_generator }}
        {% else %}
        self.{{ attribute.name }} = 0  # Default safe value if no generator
        {% endif %}
        {% if attribute.noise_generator %}
        self.{{ attribute.name }} += {{ attribute.noise_generator }}
        {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
class Entity(Node):
    def __init__(self, name, topic, conn_params,
                 attributes, msg_type, attr_buff=[],
                 virtual=False, *args, **kwargs):
        self.name = name
        self.camel_name = self.to_camel_case(name)
        self.topic = topic
        self.conn_params = conn_params
        self.attributes = attributes
        self.msg_type = msg_type
        self.virtual = virtual  
        self.attributes_dict = {key: val for key, val in self.attributes.items()}
        self.attributes_buff = {key: [] for key, _ in self.attributes.items()}
        self.dstate = self.msg_type()
        self._attr_buff = attr_buff

        for attr in self._attr_buff:
            self.init_attr_buffer(attr[0], attr[1])

        super().__init__(
            node_name=self.camel_name,
            connection_params=self.conn_params,
            *args, **kwargs
        )

    def get_buffer(self, attr_name):
        if len(self.attributes_buff[attr_name]) != \
            self.attributes_buff[attr_name].maxlen:
            return [0] * self.attributes_buff[attr_name].maxlen
        else:
            return self.attributes_buff[attr_name]

    def init_attr_buffer(self, attr_name, size):
        self.attributes_buff[attr_name] = deque(maxlen=size)
        # self.attributes_buff[attr_name].extend([0] * size)

    def to_camel_case(self, snake_str):
        return "".join(x.capitalize() for x in snake_str.lower().split("_"))

    def update_state(self, new_state):
        """
        Function for updating Entity state. Meant to be used as a callback function by the Entity's subscriber object
        (commlib-py).
        :param new_state: Dictionary containing the Entity's state
        :return:
        """
        # Update state
        self.dstate = new_state
        print(f'[*] Entity {self.name} state change: {self.dstate} -> {new_state}')
        # Update attributes based on state
        self.update_attributes(new_state)
        self.update_buffers(new_state)

    def update_buffers(self, state_msg):
        """
        Recursive function used by update_state() mainly to updated
            dictionaries/objects and normal Attributes.
        """
        # Update attributes
        for attribute, value in state_msg.model_dump().items():
            if self.attributes_buff[attribute] is not None:
                self.attributes_buff[attribute].append(value)

    def update_attributes(self, state_msg):
        """
        Recursive function used by update_state() mainly to updated
            dictionaries/objects and normal Attributes.
        """
        # Fast hack for pydantic changes
        if hasattr(state_msg, 'time'):
            t = state_msg.time
            self.attributes_dict = state_msg.model_dump()
            self.attributes_dict['time'] = t
        else:
            self.attributes_dict = state_msg.model_dump()

    def start(self):
        # Create and start communications subscriber on Entity's topic
        self.state_sub = self.create_subscriber(
            topic=self.topic,
            msg_type=self.msg_type,
            on_message=self.update_state
        )
        self.state_sub.run()
        self.state_pub = self.create_publisher(
            topic=self.topic,
            msg_type=self.msg_type,
        )
        self.state_pub.run()
        # Special handling for virtual entities
        if self.virtual:
            self.start_virtual_generation()

    def start_virtual_generation(self):
        # Get entity class name
        entity_class_name = self.name.capitalize()
        # Find entity class in globals
        entity_class = globals().get(entity_class_name)
        
        if entity_class:
            # Create instance of entity class
            self.entity_instance = entity_class()
            
            # If entity has generate_values method, use it to set up value generator
            if hasattr(self.entity_instance, 'generate_values'):
                # Create components based on entity's attributes
                components = []
                for attr_name in self.attributes:
                    # Default to zero noise
                    noise = Noise(
                        _type=NoiseType.Zero,
                        properties=NoiseZero()
                    )
                    
                    # Use constant value generator by default
                    properties = ValueGeneratorProperties.Constant(value=0)
                    
                    component = ValueComponent(
                        _type=ValueGeneratorType.Constant,
                        name=attr_name,
                        properties=properties,
                        noise=noise
                    )
                    components.append(component)
                
                generator = ValueGenerator(
                    self.topic,
                    1.0,  #Hz
                    components,
                    self
                )
                
                # Start generator in a thread
                self.generator = generator
                self.generator_thread = Thread(target=self.generator.start)
                self.generator_thread.daemon = True
                self.generator_thread.start()
                print(f"Started virtual entity generator for {self.name}")

    def stop(self):
        """Stop entity and its value generation"""
        if hasattr(self, 'generator'):
            self.generator.running = False
            if hasattr(self, 'generator_thread') and self.generator_thread.is_alive():
                self.generator_thread.join(timeout=2.0)
        super().stop()
    
    def change_state(self, msg):
        self.state_pub.publish(msg)


class EntitySense(Entity):
    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)


class EntityAct(Entity):
    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)



class AutomationState:
    IDLE = 0
    RUNNING = 1
    EXITED_SUCCESS = 2
    EXITED_FAILURE = 3


class Condition(object):
    def __init__(self, expression):
        self.expression = expression

    def evaluate(self, entities):
        try:
            if eval(
                self.expression,
                {
                    'entities': entities
                },
                {
                    'std': statistics.stdev,
                    'var': statistics.variance,
                    'mean': statistics.mean,
                    'min': min,
                    'max': max,
                }
            ):
                return True
            else:
                return False
        except Exception as e:
            print(e)
            return False


class RTMonitor:
    def __init__(self, comm_node, etopic, ltopic):
        self.node = comm_node
        epub = self.node.create_publisher(
            topic=etopic,
            msg_type=StateChangeMsg
        )
        lpub = self.node.create_publisher(
            topic=ltopic,
            msg_type=LogMsg
        )
        self._epub = epub
        self._lpub = lpub
        print(f'[RTMonitor]: events -> {etopic}, logs -> {ltopic}')

    def send_event(self, event):
        print(f'[RTMonitor] Sending StateChange Event: {event}')
        self._epub.publish(event)

    def send_log(self, log_msg):
        print(f'[RTMonitor] Sending Log: {log_msg}')
        self._lpub.publish(log_msg)


class Automation():
    def __init__(self, name, condition, actions, freq, enabled, continuous,
                 checkOnce, after, starts, stops, entities,
                 rtm: RTMonitor = None):
        enabled = True if enabled is None else enabled
        continuous = True if continuous is None else continuous
        checkOnce = False if checkOnce is None else checkOnce
        freq = 1 if freq in (None, 0) else freq
        self.name = name
        self.condition = condition
        self.enabled = enabled
        self.continuous = continuous
        self.checkOnce = checkOnce
        self.freq = freq
        self.actions = actions
        self.after = after
        self.starts = starts
        self.stops = stops
        self.time_between_activations = 5
        self.state = AutomationState.IDLE
        self.entities = entities
        self.autos_map = {}
        self.rtm = rtm

    def set_autos(self, autos_map):
        self.autos_map = autos_map

    def evaluate_condition(self):
        if self.enabled:
            return self.condition.evaluate(self.entities)
        else:
            return False

    def print(self):
        after = f'\n'.join(
            [f"  - {self.autos_map[dep].name}" for dep in self.after])
        starts = f'\n'.join(
            [f"  - {self.autos_map[dep].name}" for dep in self.starts])
        stops = f'\n'.join(
            [f"  - {self.autos_map[dep].name}" for dep in self.stops])
        print(
            f"Automation <{self.name}>\nz"
            f"    Condition: {self.condition.expression}\n"
            f"    Frequency: {self.freq} Hz\n"
            f"    Continuoues: {self.continuous}\n"
            f"    CheckOnce: {self.checkOnce}\n"
            f"    Starts:\n"
            f"      {starts}\n"
            f"    Stops:\n"
            f"      {stops}\n"
            f"    After:\n"
            f"      {after}\n"
        )

    def trigger_actions(self):
        messages = {}
        # If continuous is false, disable automation until it is manually re-enabled
        if not self.continuous:
            self.enabled = False
        for action in self.actions:
            value = action.value
            entity = action.entity
            if entity not in messages.keys():
                messages[entity] = entity.dstate
            setattr(messages[entity], action.attribute,  value)
        for entity, message in messages.items():
            entity.change_state(message)

    def enable(self):
        self.enabled = True
        self.log(f"Enabled Automation: {self.name}")

    def disable(self):
        self.enabled = False
        self.log(f"Disabled Automation: {self.name}")

    def state_change(self, new_state: AutomationState, msg: str = ""):
        self.state = new_state
        msg = StateChangeMsg(state=new_state, msg=msg, automation=self.name)
        if self.rtm:
            self.rtm.send_event(msg)

    def log(self, msg: str, level: str = 'INFO'):
        log_msg = LogMsg(msg=msg, level=level)
        if self.rtm:
            self.rtm.send_log(log_msg)
        print(f'[Automation: {self.name}]: {msg}')

    def start(self):
        self.state_change(AutomationState.IDLE)
        self.print()
        self.log(f"Starting Automation: {self.name}")
        while not terminate_event.is_set():
            if len(self.after) == 0:
                self.state_change(AutomationState.RUNNING)
            # Wait for dependend automations to finish
            while self.state == AutomationState.IDLE and \
                not terminate_event.is_set():
                wait_for = [
                    dep for dep in self.after
                    if self.autos_map[dep].state == AutomationState.RUNNING
                ]
                if len(wait_for) == 0:
                    self.state_change(AutomationState.RUNNING)
                self.log(
                    f'Waiting for dependend automations to finish: {wait_for}'
                )
                time.sleep(1)
            while self.state == AutomationState.RUNNING and \
                not terminate_event.is_set():
                try:
                    triggered = self.evaluate_condition()
                    if triggered:
                        self.log(f"Automation <{self.name}> Triggered!")
                        self.log(f"Condition met: {self.condition.expression}")
                        # If automation triggered run its actions
                        self.trigger_actions()
                        self.state_change(AutomationState.EXITED_SUCCESS)
                        for auto in self.starts:
                            self.autos_map[auto].enable()
                        for auto in self.stops:
                            self.autos_map[auto].disable()
                    if self.checkOnce:
                        self.disable()
                        self.state_change(AutomationState.EXITED_SUCCESS)
                    time.sleep(1 / self.freq)
                except Exception as e:
                    self.log(f'[ERROR] {str(e)}')
                    return
            # time.sleep(self.time_between_activations)
            self.state_change(AutomationState.IDLE)


class Action:
    def __init__(self, attribute, value, entity):
        self.attribute = attribute
        self.value = value
        self.entity = entity


class StateChangeMsg(PubSubMessage):
    state: int
    automation: str
    msg: str = ""


class LogMsg(PubSubMessage):
    msg: str
    level: str = "INFO"


class Executor(Node):
    def __init__(self, *args, **kwargs):
        self.name = '{{ metadata.name }}'
        {% if rt_monitor %}
        self.namespace = '{{ rt_monitor.ns }}'
        self.event_topic = '{{ rt_monitor.eTopic }}'
        self.logs_topic = '{{ rt_monitor.lTopic }}'
        self._init_params()
        super().__init__(
            node_name=self.name,
            debug=True,
            connection_params=self.conn_params
        )
        self._etopic = f'{self.namespace}.{self.event_topic}'
        self._ltopic = f'{self.namespace}.{self.logs_topic}'
        self.rtm = RTMonitor(self, self._etopic, self._ltopic)
        self.run()
        {% else %}
        self.rtm = None
        {% endif %}

        self.entities = self.create_entities()
        self.entities_map = self.build_entities_map(self.entities)
        self.autos = self.create_automations(self.entities_map)
        self.autos_map = self.build_autos_map(self.autos)
        for auto in self.autos:
            auto.set_autos(self.autos_map)

    {% if rt_monitor %}
    def _init_params(self):
        {% if rt_monitor.broker.__class__.__name__ == 'MQTTBroker' %}
        from commlib.transports.mqtt import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ rt_monitor.broker.host }}',
            port={{ rt_monitor.broker.port }},
            ssl={{ rt_monitor.broker.ssl }},
            username='{{ rt_monitor.broker.auth.username }}',
            password='{{ rt_monitor.broker.auth.password }}',
        )
        {% elif rt_monitor.broker.__class__.__name__ == 'AMQPBroker' %}
        from commlib.transports.amqp import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ rt_monitor.broker.host }}',
            port={{ rt_monitor.broker.port }},
            ssl={{ rt_monitor.broker.ssl }},
            username='{{ rt_monitor.broker.auth.username }}',
            password='{{ rt_monitor.broker.auth.password }}',
        )
        {% elif rt_monitor.broker.__class__.__name__ == 'RedisBroker' %}
        from commlib.transports.redis import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ rt_monitor.broker.host }}',
            port={{ rt_monitor.broker.port }},
            ssl={{ rt_monitor.broker.ssl }},
            username='{{ rt_monitor.broker.auth.username }}',
            password='{{ rt_monitor.broker.auth.password }}',
        )
		{% elif rt_monitor.broker.__class__.__name__ == 'KafkaBroker' %}
        from commlib.transports.kafka import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ rt_monitor.broker.host }}',
            port={{ rt_monitor.broker.port }},
            ssl={{ rt_monitor.broker.ssl }},
            username='{{ rt_monitor.broker.auth.username }}',
            password='{{ rt_monitor.broker.auth.password }}',
        )
        {% endif %}
        self.conn_params = conn_params
    {% endif %}

    def build_autos_map(self, autos):
        a_map = {auto.name: auto for auto in autos}
        return a_map

    def build_entities_map(self, entities):
        e_map = {ent.name: ent for ent in entities}
        return e_map

    def create_automations(self, entities):
        autos = []
        {% for auto in automations %}
        autos.append(Automation(
            name='{{ auto.name }}',
            condition=Condition(
                expression="{{ auto.condition.cond_lambda.replace('.value', '') }}"
            ),
            actions=[
            {% for action in auto.actions %}
                {% if action.attribute.type == "str" %}
                Action('{{ action.attribute.name }}', '{{ action.value }}', entities['{{ action.attribute.parent.name }}']),
                {% else %}
                Action('{{ action.attribute.name }}', {{ action.value }}, entities['{{ action.attribute.parent.name }}']),
                {% endif %}
            {% endfor %}
            ],
            freq={{ auto.freq }},
            enabled={{ auto.enabled }},
            continuous={{ auto.continuous }},
            checkOnce={{ auto.checkOnce }},
            after=[
            {% for after in auto.after %}
                '{{ after.name }}',
            {% endfor %}
            ],
            starts=[
            {% for starts in auto.starts %}
                '{{ starts.name }}',
            {% endfor %}
            ],
            stops=[
            {% for stops in auto.stops %}
                '{{ stops.name }}',
            {% endfor %}
            ],
            entities=entities,
            rtm=self.rtm
        ))
        {% endfor %}
        return autos

    def create_entity(self, sense, name, topic, conn_params,
                      attributes, msg_type, attr_buff=[], virtual=False):
        if sense:
            entity = EntitySense(
                name=name,
                topic=topic,
                conn_params=conn_params,
                attributes=attributes,
                msg_type=msg_type,
                attr_buff=attr_buff,
                virtual=virtual
            )
        else:
            entity = EntityAct(
                name=name,
                topic=topic,
                conn_params=conn_params,
                attributes=attributes,
                msg_type=msg_type,
                attr_buff=attr_buff,
                virtual=virtual
            )
        return entity


    def create_entities(self):
        entities = []
    {% for e in entities %}
        {% if e.broker.__class__.__name__ == 'MQTTBroker' %}
        from commlib.transports.mqtt import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ e.broker.host }}',
            port={{ e.broker.port }},
            ssl={{ e.broker.ssl }},
            username='{{ e.broker.auth.username }}',
            password='{{ e.broker.auth.password }}',
        )
        {% elif e.broker.__class__.__name__ == 'AMQPBroker' %}
        from commlib.transports.amqp import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ e.broker.host }}',
            port={{ e.broker.port }},
            ssl={{ e.broker.ssl }},
            username='{{ e.broker.auth.username }}',
            password='{{ e.broker.auth.password }}',
        )
        {% elif e.broker.__class__.__name__ == 'RedisBroker' %}
        from commlib.transports.redis import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ e.broker.host }}',
            port={{ e.broker.port }},
            ssl={{ e.broker.ssl }},
            username='{{ e.broker.auth.username }}',
            password='{{ e.broker.auth.password }}',
        )
        {% endif %}
        attrs = {
        {% for attr in e.attributes %}
        {% if attr.type == "time" %}
            '{{ attr.name }}': Time(),
        {% else %}
            '{{ attr.name }}': {{ attr.type }}(),
        {% endif %}
        {% endfor %}
        }
        {% if e.etype == 'sensor' %}
        entities.append(
            self.create_entity(
                True, '{{ e.name }}', '{{ e.topic }}',
                conn_params, attrs, msg_type={{ e.camel_name }}Msg,
                attr_buff={{ e.attr_buffs }},
                virtual={{ e.virtual|default(false) }}
            )
        )
        {% else %}
        entities.append(
            self.create_entity(
                False, '{{ e.name }}', '{{ e.topic }}',
                conn_params, attrs, msg_type={{ e.camel_name }}Msg,
                attr_buff={{ e.attr_buffs }},
                virtual={{ e.virtual|default(false) }}
            )
        )
        {% endif %}
    {% endfor %}
        return entities

    def start_entities(self):
        for e in self.entities:
            e.start()

    def start_automations(self, max_workers: int = 60):
        automations = self.autos
        with ThreadPoolExecutor(max_workers=max_workers) as executor:
            works = []
            for automation in automations:
                automation.executor = ThreadPoolExecutor()
                work = executor.submit(
                    automation.start
                ).add_done_callback(Executor._worker_clb)
                works.append(work)
            # done, not_done = wait(works)
        print('[bold magenta][*] All automations completed!![/bold magenta]')

    @staticmethod
    def _worker_clb(f):
        e = f.exception()
        if e is None:
            return
        trace = []
        tb = e.__traceback__
        while tb is not None:
            trace.append({
                "filename": tb.tb_frame.f_code.co_filename,
                "name": tb.tb_frame.f_code.co_name,
                "lineno": tb.tb_lineno
            })
            tb = tb.tb_next
        print(str({
            'type': type(e).__name__,
            'message': str(e),
            'trace': trace
        }))


if __name__ == '__main__':
    # Register the signal handler for SIGINT (Ctrl+C)
    # signal.signal(signal.SIGINT, signal_handler)

    try:
        executor = Executor()
        executor.start_entities()
        executor.start_automations()
    except KeyboardInterrupt:
        print("Keyboard interrupt detected. Exiting...")
        terminate_event.set()
        executor.stop()
    except Exception:
        print("Interrupt detected. Exiting...")
        terminate_event.set()
        executor.stop()

