#!/usr/bin/env python

# If you are going to execute this in google colab, uncomment the next line
# !pip install commlib-py>=0.11.0
# !pip install pydantic==2.5.2

from os import wait
import time
import random
import signal

from enum import Enum
from dataclasses import dataclass
from pydantic import BaseModel
import time
import numpy as np
import math
from typing import Optional
from datetime import datetime
from concurrent.futures import ThreadPoolExecutor
from threading import Event

from rich import print, console, pretty
from commlib.msg import PubSubMessage
from commlib.utils import Rate
from commlib.node import Node

pretty.install()
console = console.Console()

terminate_event = Event()

def signal_handler(sig, frame):
    print("Interrupt received. Attempting to gracefully terminate workers.")
    terminate_event.set()


# Noise definitions
# ----------------------------------------
@dataclass
class NoiseUniform:
    min: float
    max: float


@dataclass
class NoiseGaussian:
    mu: float
    sigma: float


@dataclass
class NoiseZero:
    pass


class NoiseType(Enum):
    Uniform = 1
    Gaussian = 2
    Zero = 3


class Noise:
    def __init__(self, _type, properties):
        self.type = _type
        self.properties = properties

    def generate(self):
        if self.type == NoiseType.Uniform:
            return random.uniform(self.properties.min, self.properties.max)
        elif self.type == NoiseType.Gaussian:
            return random.gauss(self.properties.mu, self.properties.sigma)
        elif self.type == NoiseType.Zero:
            return 0
# ----------------------------------------

# Value generator definitions
# ----------------------------------------

@dataclass
class ValueGeneratorProperties:
    @dataclass
    class Constant:
        value: float

    @dataclass
    class Linear:
        start: float
        step: float # per second

    @dataclass
    class Saw:
        min: float
        max: float
        step: float

        _internal_start: Optional[float] = 0.0

    @dataclass
    class Gaussian:
        value: float
        max_value: float
        sigma: float # this is time (seconds)

        _internal_start: Optional[float] = 0.0

    @dataclass
    class Replay:
        values: list
        times: int

    @dataclass
    class Sinus:
        dc: float
        amplitude: float
        step: float


class ValueGeneratorType(Enum):
    Constant = 1
    Linear = 2
    Gaussian = 3
    Step = 5
    Saw = 6
    Sinus = 7
    Logarithmic = 8
    Exponential = 9
    Replay = 10
# ----------------------------------------


class ValueComponent:
    def __init__(self, _type, name, properties, noise):
        self.type = _type
        self.name = name
        self.properties = properties
        self.noise = noise


class ValueGenerator:
    def __init__(self, topic, hz, components, commlib_node):
        self.topic = topic
        self.hz = hz
        self.components = components
        self.commlib_node = commlib_node

        self.publisher = self.commlib_node.create_publisher(topic=topic)

    def start(self, minutes=None):
        start = time.time()
        value = None
        replay_counter = 0
        replay_iter = 0
        for c in self.components:
            if c.type in (ValueGeneratorType.Gaussian,
                          ValueGeneratorType.Saw):
                c.properties._internal_start = start
        while not terminate_event.is_set():
            msg = {}
            for c in self.components:
                if c.type == ValueGeneratorType.Constant:
                    value = c.properties.value + c.noise.generate()
                elif c.type == ValueGeneratorType.Linear:
                    value = c.properties.start + (time.time() - start) * c.properties.step
                    value += c.noise.generate()
                elif c.type == ValueGeneratorType.Sinus:
                    value = c.properties.dc + amplitude * math.sin((time.time() - start) * c.properties.step)
                    value += c.noise.generate()
                elif c.type == ValueGeneratorType.Saw:
                    value = c.properties.min + \
                        (time.time() - c.properties._internal_start) * \
                            c.properties.step
                    value += c.noise.generate()
                    if value >= c.properties.max:
                        c.properties._internal_start = time.time()
                elif c.type == ValueGeneratorType.Gaussian:
                    if time.time() - c.properties._internal_start > 8 * c.properties.sigma:
                        c.properties._internal_start = time.time()
                    value = c.properties.value
                    _norm_exp = -np.power(
                        time.time() - c.properties._internal_start - 4 *
                        c.properties.sigma, 2.) / (2 * np.power(c.properties.sigma, 2.))
                    value += np.exp(_norm_exp) * (c.properties.max_value - c.properties.value)
                    value += c.noise.generate()
                elif c.type == ValueGeneratorType.Replay:
                    values = c.properties.values
                    times = c.properties.times
                    if replay_iter == times:
                        msg[c.name] = values[-1]
                        continue
                    value = values[replay_counter]
                    replay_counter += 1
                    replay_counter = replay_counter % (len(values))
                    if replay_counter == 0:
                        replay_iter += 1
                msg[c.name] = value


            self.publisher.publish(
                msg
            )
            print(f"Publishing {msg}")
            time.sleep(1.0 / self.hz)
            if minutes is not None:
                if time.time() - start < minutes * 60.0:
                    break


{% if system_clock %}
class Time(BaseModel):
    hour: int = 0
    minute: int = 0
    second: int = 0
    time_str: str = ''


class ClockMsg(PubSubMessage):
    time: Time


class SystemClock(Node):
    def __init__(self, *args, **kwargs):
        self.pub_freq = {{ system_clock.freq }}
        self.topic = '{{ system_clock.topic }}'
		{% if system_clock.broker.__class__.__name__ == 'MQTTBroker' %}
        from commlib.transports.mqtt import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ system_clock.broker.host }}',
            port={{ system_clock.broker.port }},
            username='{{ system_clock.broker.auth.username }}',
            password='{{ system_clock.broker.auth.password }}',
        )
		{% elif system_clock.broker.__class__.__name__ == 'AMQPBroker' %}
        from commlib.transports.amqp import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ system_clock.broker.host }}',
            port={{ system_clock.broker.port }},
			vhost='{{ system_clock.broker.vhost }}',
            username='{{ system_clock.broker.auth.username }}',
            password='{{ system_clock.broker.auth.password }}',
        )
		{% elif system_clock.broker.__class__.__name__ == 'RedisBroker' %}
        from commlib.transports.redis import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ system_clock.broker.host }}',
            port={{ system_clock.broker.port }},
            db={{ system_clock.broker.vhost }},
            username='{{ system_clock.broker.auth.username }}',
            password='{{ system_clock.broker.auth.password }}',
        )
		{% elif system_clock.broker.__class__.__name__ == 'KafkaBroker' %}
        from commlib.transports.kafka import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ system_clock.broker.host }}',
            port={{ system_clock.broker.port }},
            username='{{ system_clock.broker.auth.username }}',
            password='{{ system_clock.broker.auth.password }}',
        )
		{% endif %}
        super().__init__(
            node_name='{{ system_clock.name }}',
            connection_params=conn_params,
            *args, **kwargs
        )
        self.pub = self.create_publisher(
            msg_type=ClockMsg,
            topic=self.topic
        )
        self.rate = Rate(self.pub_freq)

    def start(self):
        self.run()
        print(f'[*] Initiated System Clock @ {self.topic}')
        while not terminate_event.is_set():
            self.send_msg()
            self.rate.sleep()

    def send_msg(self):
        now = datetime.now()
        t_str = now.strftime("%H:%M:%S")
        hour = int(now.hour)
        minute = int(now.minute)
        second = int(now.second)
        msg = ClockMsg(time=Time(
            hour=hour,
            minute=minute,
            second=second,
            time_str=t_str
        ))
        self.pub.publish(msg)
{% endif %}


# ThreadPoolExecutor worker callback
def _worker_clb(f):
    e = f.exception()
    if e is None:
        return
    trace = []
    tb = e.__traceback__
    while tb is not None:
        trace.append({
            "filename": tb.tb_frame.f_code.co_filename,
            "name": tb.tb_frame.f_code.co_name,
            "lineno": tb.tb_lineno
        })
        tb = tb.tb_next
    print({
        'type': type(e).__name__,
        'message': str(e),
        'trace': trace
    })


{% for entity in sensors %}
class {{ entity.camel_name }}Msg(PubSubMessage):
    {% for a in entity.attributes %}
    {% if a.type == "str" %}
        {{ a.name }}: {{ a.type }} = '{{ a.value }}'
    {% else %}
        {{ a.name }}: {{ a.type }} = {{ a.value }}
    {% endif %}
    {% endfor %}


class {{ entity.camel_name }}Node(Node):
    def __init__(self, *args, **kwargs):
        self.pub_freq = {{ entity.freq }}
        self.topic = '{{ entity.topic }}'
        self.name = '{{ entity.name }}'
		{% if entity.broker.__class__.__name__ == 'MQTTBroker' %}
        from commlib.transports.mqtt import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ entity.broker.host }}',
            port={{ entity.broker.port }},
            username='{{ entity.broker.auth.username }}',
            password='{{ entity.broker.auth.password }}',
        )
		{% elif entity.broker.__class__.__name__ == 'AMQPBroker' %}
		from commlib.transports.amqp import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ entity.broker.host }}',
            port={{ entity.broker.port }},
			vhost='{{ entity.broker.vhost }}',
            username='{{ entity.broker.auth.username }}',
            password='{{ entity.broker.auth.password }}',
        )
		{% elif entity.broker.__class__.__name__ == 'RedisBroker' %}
		from commlib.transports.redis import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ entity.broker.host }}',
            port={{ entity.broker.port }},
            db={{ entity.broker.vhost }},
            username='{{ entity.broker.auth.username }}',
            password='{{ entity.broker.auth.password }}',
        )
		{% elif entity.broker.__class__.__name__ == 'KafkaBroker' %}
		from commlib.transports.kafka import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ entity.broker.host }}',
            port={{ entity.broker.port }},
            username='{{ entity.broker.auth.username }}',
            password='{{ entity.broker.auth.password }}',
        )
		{% endif %}
        super().__init__(
            node_name='entities.{{ entity.name.lower() }}',
            connection_params=conn_params,
            *args, **kwargs
        )
        self.pub = self.create_publisher(
            msg_type={{ entity.camel_name }}Msg,
            topic=self.topic
        )

    def init_gen_components(self):
        components = []
        {% for attr in entity.attributes %}
        {% if attr.generator.__class__.__name__ == 'GaussianFun' %}
        {{ attr.name }}_properties = ValueGeneratorProperties.Gaussian(
            value={{ attr.generator.value }},
            max_value={{ attr.generator.maxValue }},
            sigma={{ attr.generator.sigma }},
        )
        _gen_type = ValueGeneratorType.Gaussian
        {% elif attr.generator.__class__.__name__ == 'ConstantFun' %}
        {{ attr.name }}_properties = ValueGeneratorProperties.Constant(
            value={{ attr.generator.value }}
        )
        _gen_type = ValueGeneratorType.Constant
        {% elif attr.generator.__class__.__name__ == 'LinearFun' %}
        {{ attr.name }}_properties = ValueGeneratorProperties.Linear(
            start={{ attr.generator.start }},
            step={{ attr.generator.step }}
        )
        _gen_type = ValueGeneratorType.Linear
        {% elif attr.generator.__class__.__name__ == 'SawFun' %}
        {{ attr.name }}_properties = ValueGeneratorProperties.Saw(
            min={{ attr.generator.min }},
            max={{ attr.generator.max }},
            step={{ attr.generator.step }}
        )
        _gen_type = ValueGeneratorType.Saw
        {% elif attr.generator.__class__.__name__ == 'ReplayFun' %}
        {{ attr.name }}_properties = ValueGeneratorProperties.Replay(
            values={{ attr.generator.values }},
            times={{ attr.generator.times }},
        )
        _gen_type = ValueGeneratorType.Replay
        {% else %}
        {{ attr.name }}_properties = ValueGeneratorProperties.Constant(
            0
        )
        _gen_type = ValueGeneratorType.Constant
        {% endif %}
        {% if attr.noise.__class__.__name__ == 'UniformNoise' %}
        {{ attr.name }}_noise = Noise(
            _type=NoiseType.Uniform,
            properties=NoiseUniform({{ attr.noise.min }}, {{ attr.noise.max }})
        )
        {% elif attr.noise.__class__.__name__ == 'GaussianNoise' %}
        {{ attr.name }}_noise = Noise(
            _type=NoiseType.Gaussian,
            properties=NoiseGaussian({{ attr.noise.mu }}, {{ attr.noise.sigma }})
        )
        {% else %}
        {{ attr.name }}_noise = Noise(
            _type=NoiseType.Zero,
            properties=NoiseZero()
        )
        {% endif %}
        {{ attr.name }}_component = ValueComponent(
            _type=_gen_type,
            name="{{ attr.name }}",
            properties = {{ attr.name }}_properties,
            noise={{ attr.name }}_noise
        )
        components.append({{ attr.name }}_component)
        {% endfor %}
        generator = ValueGenerator(
            self.topic,
            self.pub_freq,
            components,
            self
        )
        return generator

    def start(self, executor=None):
        self.run()
        generator = self.init_gen_components()
        if executor:
            work = executor.submit(
                generator.start
            ).add_done_callback(_worker_clb)
            print(f'[*] Initiated Entity {self.name} @ {self.topic}')
            return work
        else:
            generator.start()
            return self

{% endfor %}

{% for entity in actuators %}
class {{ entity.camel_name }}Msg(PubSubMessage):
    {% for a in entity.attributes %}
    {% if a.type == "str" %}
        {{ a.name }}: {{ a.type }} = '{{ a.value }}'
    {% else %}
        {{ a.name }}: {{ a.type }} = {{ a.value }}
    {% endif %}
    {% endfor %}


class {{ entity.camel_name }}Node(Node):
    def __init__(self, *args, **kwargs):
        self.tick_hz = 1
        self.topic = '{{ entity.topic }}'
        self.name = '{{ entity.name }}'
		{% if entity.broker.__class__.__name__ == 'MQTTBroker' %}
        from commlib.transports.mqtt import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ entity.broker.host }}',
            port={{ entity.broker.port }},
            username='{{ entity.broker.auth.username }}',
            password='{{ entity.broker.auth.password }}',
        )
		{% elif entity.broker.__class__.__name__ == 'AMQPBroker' %}
        from commlib.transports.amqp import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ entity.broker.host }}',
            port={{ entity.broker.port }},
			vhost='{{ entity.broker.vhost }}',
            username='{{ entity.broker.auth.username }}',
            password='{{ entity.broker.auth.password }}',
        )
		{% elif entity.broker.__class__.__name__ == 'RedisBroker' %}
        from commlib.transports.redis import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ entity.broker.host }}',
            port={{ entity.broker.port }},
            db={{ entity.broker.vhost }},
            username='{{ entity.broker.auth.username }}',
            password='{{ entity.broker.auth.password }}',
        )
		{% elif entity.broker.__class__.__name__ == 'KafkaBroker' %}
        from commlib.transports.kafka import ConnectionParameters
        conn_params = ConnectionParameters(
            host='{{ entity.broker.host }}',
            port={{ entity.broker.port }},
            username='{{ entity.broker.auth.username }}',
            password='{{ entity.broker.auth.password }}',
        )
		{% endif %}
        super().__init__(
            node_name='entities.{{ entity.name.lower() }}',
            connection_params=conn_params,
            *args, **kwargs
        )
        self.sub = self.create_subscriber(
            msg_type={{ entity.camel_name }}Msg,
            topic=self.topic,
            on_message=self._on_message
        )

    def start(self, executor=None):
        self.run()
        print(f'[*] Initiated Entity {self.name} @ {self.topic}')
        return self

    def _on_message(self, msg):
        print(f'[*] State change command received: {msg}')
{% endfor %}


if __name__ == '__main__':
    sensors = []
    actuators = []
    workers = []
    max_workers = 100
	{% for entity in actuators %}
    actuators.append({{ entity.camel_name }}Node())
	{% endfor %}
	{% for entity in sensors %}
    sensors.append({{ entity.camel_name }}Node())
	{% endfor %}
    sclock = SystemClock()

    # Register the signal handler for SIGINT (Ctrl+C)
    signal.signal(signal.SIGINT, signal_handler)

    try:
        with ThreadPoolExecutor(max_workers=max_workers) as executor:
            sclock_work = executor.submit(
                sclock.start
            ).add_done_callback(_worker_clb)
            for node in sensors:
                work = node.start(executor)
                workers.append(work)
            for node in actuators:
                node.start()
    except KeyboardInterrupt:
        print("Keyboard interrupt detected. Exiting...")
        terminate_event.set()
    except Exception:
        print("Interrupt detected. Exiting...")
        terminate_event.set()
